<div id="content">
    <form id="{{board._id}}" class="board border-purple-top">
        <div class="header-board">
            <a id="back" href="/home" target="_top"><i class="fa fa-arrow-left" style="font-size:16px"></i></a>
            <input ng-change="update()" ng-model="board.title" ng-model-options="{ updateOn: 'blur' }" class="title-board" type="text" value="board.title" name="board-title" placeholder="Board Title"/>
        </div>
          <div ng-repeat="section in board.sections" id="{{section._id}}" class="section border-blue-top">
              <div class="header-section">
                  <input ng-change="update()" ng-model="section.title" ng-model-options="{ updateOn: 'blur' }" class="title-section" type="text" value="section.title" name="section-title" placeholder="Section Title"/>
                  <button ng-click="removeSection()" class="close-section"><i class="fa fa-close" style="font-size:12px"></i></button>
              </div>
              <div ng-repeat="ticket in section.tickets" id="{{ticket._id}}" class="ticket border-purple-top">
                  <div class="header-ticket">
                      <button ng-click="removeTicket()" class="close-ticket"><i class="fa fa-close" style="font-size:12px"></i></button>
                  </div>
                  <input ng-change="update()" ng-model="ticket.title" ng-model-options="{ updateOn: 'blur' }" class="ticket-title" type="text" placeholder="Title" name="ticket-title" value="ticket.title"/>
                  <textarea ng-change="update()" ng-model="ticket.details" ng-model-options="{ updateOn: 'blur' }" class="ticket-description" wrap="hard" placeholder="Details" name="ticket-detail">ticket.details</textarea>
              </div>
              <button ng-click="addTicket()" class="add-ticket">
                <i class="fa fa-plus" style="font-size:11px"></i>
              </button>
          </div>
        <!-- <div class="section border-blue-top">
            <div class="header-section">
                <input class="title-section" type="text" value="New Section" name="section-title" />
                <button class="close-section"><i class="fa fa-close" style="font-size:12px"></i></button>
            </div>
            <div class="ticket border-purple-top">
                <div class="header-ticket">
                    <button class="close-ticket"><i class="fa fa-close" style="font-size:12px"></i></button>
                </div>
                <input class="ticket-title" type="text" placeholder="Title" name="ticket-title" />
                <textarea class="ticket-description" wrap="hard" placeholder="Details" name="ticket-detail"></textarea>
            </div> -->
            <!-- <button id="add-ticket"><i class="fa fa-plus" style="font-size:11px"></i></button>
        </div> -->
        <button ng-click="addSection()" id="add-section"><i class="fa fa-plus" style="font-size:11px"></i></button>
    </form>
</div>
